@keyframes anim {
	0% {
		border-color: rgba(#fff, .5);
	}
	25% {
		border-color: salmon;
	}
	50% {
		border-color: rebeccapurple;
	}
	75% {
		border-color: rosybrown;
	}
	100% {
		border-color: orange;
	}
}